#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
	width: inherit;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.has_response .bullet_main{
  width: 235px;
}

#reflected .response {
  width: 93px; 
}

#reflected .rf_comment_wrapper .rf_comment_summary {
  width: 350px;
}

#reflected .response.new ul.response_def, 
#reflected .response.modify ul.response_def {
  width: 275px;
}

#reflected .bullet_author.rf_listener_pic {
	display: none;
}

#reflected .response.accurate_yes {
  background-color: #D0E7D2;
}

#reflected .response.accurate_somewhat {
  background-color: #FCF6EA;
}

#reflected .response.accurate_no {
  background-color: #FCDEE0;
}

#reflected .response.accurate_not {
  background-color: #FFD695;
}

#reflected .response.new ul.response_def li.response_dialog .rf_dialog, 
#reflected ..response.modify ul.response_def li.response_dialog {
  width: 90%;  
}


#reflected .rf_trial_notification {
  padding: 10px;
  font-size: 90%;
  background-color: #e1e1e1;
  margin: 10px;
}
  #reflected .rf_toggle {
    color: #777;
    text-decoration: underline;
  }

  #reflected .rf_toggle:hover {
    cursor: pointer;
  }

#reflected .rf_comment_wrapper .rf_comment_summary ol, 
#reflected .rf_comment_wrapper .rf_comment_summary ul, 
#reflected .rf_comment_wrapper .rf_comment_summary ol li, 
#reflected .rf_comment_wrapper .rf_comment_summary ul li {
	margin: 0 !important;	
}

#reflected .rf_comment * {
	vertical-align: top;
}

#reflected div.commentBody {
	overflow:visible;
}


