#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
	width: inherit;
}

#reflected .rf_comment_wrapper .rf_comment_summary {
  width: 320px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .rf_clarification {
 width: 247px; 
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main {
  width: 275px;
}

#reflected .response_prompt {
  width: 215px;
}

#reflected .rf_comment_wrapper .rf_comment_summary .rf_evaluation {
  width: 40px;
  float: right;
}


#reflected .bullet_author.rf_listener_pic {
	display: none;
}

#reflected .response.new ul.response_def li.response_dialog .rf_dialog, 
#reflected ..response.modify ul.response_def li.response_dialog {
  width: 90%;  
}


#reflected .rf_trial_notification {
  padding: 10px;
  font-size: 100%;
  background-color: #066;
  color: white;
  float: right;
  position: relative;
}
  #reflected .rf_toggle {
    font-weight: bold;
    color: white;
    text-decoration: underline;
  }

  #reflected .rf_toggle:hover {
    cursor: pointer;
  }

#reflected .rf_trial_notification .triangle {
  color: #066;
  position: absolute;
  left: 85%;
  bottom: -13px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ol, 
#reflected .rf_comment_wrapper .rf_comment_summary ul, 
#reflected .rf_comment_wrapper .rf_comment_summary ol li, 
#reflected .rf_comment_wrapper .rf_comment_summary ul li {
	margin: 0 !important;	
}

#reflected .rf_comment td {
	vertical-align: top;
}

#reflected div.commentBody {
	overflow:visible;
}

#reflected a.user {
}

#reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence.highlight {
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main .rf_dialog .new_bullet_text_wrap textarea.new_bullet_text {
  font: 13px/1.2em Arial,sans-serif;
  width: 265px;
}