.cl {
  clear: both !important;
  height: 0;
  list-style: none; }

.fr {
  float: right; }

.fl {
  float: left; }

#reflected li {
  background: none;
  list-style-type: none; }
#reflected a {
  cursor: pointer; }

#reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .modify_operation, #reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .delete_operation {
  display: none; }
#reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .sentence {
  cursor: pointer;
  text-decoration: none; }
  #reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .sentence:hover {
    text-decoration: underline !important; }
#reflected .rf_comment .rf_comment_wrapper {
  position: relative;
  border-collapse: collapse; }
  #reflected .rf_comment .rf_comment_wrapper textarea {
    padding: 3px 5px;
    font-size: 100%; }

#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
  width: 50%;
  padding-right: 25px; }
  #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .exclude_from_reflect .sentence {
    cursor: pointer; }
  #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence {
    text-decoration: none;
    color: inherit;
    cursor: text; }
    #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence:hover {
      color: inherit; }
    #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence.highlight {
      background-color: #b5d5ff;
      color: black; }
      #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence.highlight:hover {
        background-color: #b5d5ff;
        color: black; }
  #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_author {
    display: none; }

#reflected .rf_comment_wrapper .rf_comment_summary {
  width: 42%; }
  #reflected .rf_comment_wrapper .rf_comment_summary a {
    text-decoration: none; }
  #reflected .rf_comment_wrapper .rf_comment_summary a.op:hover {
    text-decoration: underline; }
  #reflected .rf_comment_wrapper .rf_comment_summary label {
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: normal; }
  #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header {
    margin-bottom: 10px; }
    #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header .rf_title {
      font-variant: small-caps;
      border-bottom: 1px dotted #777777;
      width: 100%; }
    #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header .rf_toggle_paginate {
      color: #7d7d7d;
      font-size: 70%;
      float: right; }
      #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header .rf_toggle_paginate a {
        color: #7d7d7d;
        text-decoration: underline; }
        #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header .rf_toggle_paginate a:hover {
          cursor: pointer; }
  #reflected .rf_comment_wrapper .rf_comment_summary ol, #reflected .rf_comment_wrapper .rf_comment_summary ul, #reflected .rf_comment_wrapper .rf_comment_summary ol li, #reflected .rf_comment_wrapper .rf_comment_summary ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none; }
  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list {
    margin-left: 10px; }
    #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet {
      padding: 0px 0px 6px 0px;
      display: list-item;
      margin-bottom: 6px !important;
      line-height: 1.2em; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.self {
        min-height: 35px; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.full_bullet .bullet_main {
        float: left;
        border-left: 2px solid #f4f4f4; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.full_bullet .bullet_main:hover {
          border-left: 2px solid #cccccc; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main {
        width: 100%; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_text {
          width: 95%;
          padding-left: 8px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_text .rf_score span {
            font-size: 85%;
            vertical-align: baseline; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_text .rf_bullet_text {
            padding-bottom: 2px; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_author.rf_listener_pic {
          max-width: 30px;
          overflow: hidden;
          float: right;
          margin: 0 4px;
          height: 30px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_author.rf_listener_pic img {
            height: 30px; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta {
          font-size: 90%;
          line-height: 1em;
          font-variant: small-caps;
          text-transform: lowercase;
          padding-bottom: 2px;
          position: relative;
          color: #7d7d7d; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta a {
            color: #7d7d7d; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta .bullet_operation {
            cursor: pointer;
            padding-right: 2px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li {
            display: inline; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet {
              cursor: pointer;
              padding-left: 4px; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog {
                display: none;
                z-index: 99;
                background-color: #e1e1e1;
                position: absolute;
                width: 280px;
                left: 45px;
                border: 3px solid #006666;
                padding: 5px;
                font-size: 100%;
                font-variant: normal;
                text-transform: none;
                cursor: auto;
                top: 15px; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog div.submit_rating {
                  padding-top: 5px; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog div.submit_rating a {
                    padding: 5px 5px 3px 0; }
                    #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog div.submit_rating a:hover {
                      color: black; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .rate_header {
                  padding-bottom: 5px;
                  font-weight: bold; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag {
                  border: 0px solid #bbbbbb;
                  display: block;
                  width: 100%;
                  padding: 3px 0; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag:hover {
                    background-color: #eeeeee; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag input {
                    margin: 0;
                    padding: 0 4px 0 0; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label {
                    display: inline;
                    color: #777777;
                    font-weight: normal;
                    cursor: pointer; }
                    #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label .rating_class {
                      padding-right: 8px;
                      font-weight: bold;
                      float: right; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label .rating_class.zen {
                        color: #026c07; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label .rating_class.gold {
                        color: #b39421; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label .rating_class.student {
                        color: #3c57b3; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label .rating_class.troll {
                        color: #b33327; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main .bullet_meta > li.rate_bullet .rate_bullet_dialog .flag label .rating_class.graffiti {
                        color: #9b5eb3; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main {
        background: none; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .prompt a.add_bullet {
          text-decoration: underline; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .prompt a.add_bullet:hover {
            cursor: pointer; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .modify_operation, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .delete_operation {
          display: none; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog {
          width: 90%;
          margin-left: 7px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .new_bullet_text_wrap {
            padding-bottom: 3px; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .new_bullet_text_wrap textarea.new_bullet_text {
              height: 60px;
              padding: 4px 2px;
              width: 100%;
              overflow: auto; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer {
            width: 100%;
            padding-bottom: 5px; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer a {
              color: #7d7d7d; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer a:hover {
                background-color: inherit;
                color: inherit; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer li {
              display: inline-block; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer li.submit a {
                padding-right: 15px; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer li.count {
                padding: 0 20px 0 10px;
                color: #7d7d7d; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer li.be_neutral {
                float: right; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer li.be_neutral a:hover {
                  cursor: help; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main .rf_dialog .submit_footer li.be_neutral .big_word {
                  text-decoration: underline; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main .rf_dialog {
        position: relative;
        background-color: #ffffaa; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main .rf_dialog .connect_directions {
          font-size: 110%;
          padding: 10px;
          text-align: center;
          font-weight: bold; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main .rf_dialog .connect_directions .arrow {
            position: absolute;
            top: 8px;
            left: -10px;
            font-size: 250%; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main .rf_dialog .submit {
          padding: 0 0 5px 5px; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect:hover {
        background-color: inherit; }

#reflected .response {
  margin: 12px 0 0 2px;
  padding: 3px 3px 3px 6px;
  float: right;
  position: relative; }
  #reflected .response .floating_bullet {
    position: absolute;
    left: -8px;
    color: #e1e1e1; }
  #reflected .response .lead {
    font-size: 70%;
    color: white; }
  #reflected .response .response_yes,
  #reflected .response .response_no,
  #reflected .response .response_maybe,
  #reflected .response .response_not {
    font-size: 90%;
    font-variant: small-caps; }
  #reflected .response a.response_link {
    color: #4d4d4d;
    font-size: 85%;
    padding: 3px 35px 3px 0px; }
  #reflected .response .response_operations > li {
    display: inline; }
    #reflected .response .response_operations > li .modify {
      color: #777777;
      cursor: pointer;
      padding-right: 3px; }
  #reflected .response.new, #reflected .response.modify {
    padding: 0; }
    #reflected .response.new ul.response_def, #reflected .response.modify ul.response_def {
      background-color: #ffe5e5;
      padding: 5px; }
      #reflected .response.new ul.response_def label.prompt, #reflected .response.modify ul.response_def label.prompt {
        padding: 5px;
        font-size: 80%;
        font-weight: bold; }
      #reflected .response.new ul.response_def li.response_prompt ul.response_eval, #reflected .response.modify ul.response_def li.response_prompt ul.response_eval {
        padding: 5px 0 0px 8px; }
        #reflected .response.new ul.response_def li.response_prompt ul.response_eval li, #reflected .response.modify ul.response_def li.response_prompt ul.response_eval li {
          display: inline;
          padding-right: 6px; }
      #reflected .response.new ul.response_def li.response_dialog, #reflected .response.modify ul.response_def li.response_dialog {
        display: none; }
        #reflected .response.new ul.response_def li.response_dialog .rf_dialog, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog {
          position: relative;
          padding-left: 12px; }
          #reflected .response.new ul.response_def li.response_dialog .rf_dialog .new_bullet_text_wrap textarea.new_response_text, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog .new_bullet_text_wrap textarea.new_response_text {
            height: 60px;
            padding: 4px 2px;
            width: 100%;
            overflow: auto; }
          #reflected .response.new ul.response_def li.response_dialog .rf_dialog .submit_footer, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog .submit_footer {
            width: 100%;
            padding-bottom: 5px; }
            #reflected .response.new ul.response_def li.response_dialog .rf_dialog .submit_footer a, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog .submit_footer a {
              color: inherit; }
              #reflected .response.new ul.response_def li.response_dialog .rf_dialog .submit_footer a:hover, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog .submit_footer a:hover {
                background-color: inherit;
                color: inherit; }
            #reflected .response.new ul.response_def li.response_dialog .rf_dialog .submit_footer li, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog .submit_footer li {
              display: inline-block; }
              #reflected .response.new ul.response_def li.response_dialog .rf_dialog .submit_footer li.submit, #reflected .response.modify ul.response_def li.response_dialog .rf_dialog .submit_footer li.submit {
                padding-right: 15px; }

.qtip-content .signature {
  padding: 0px 0 0 10px;
  color: #777777;
  text-align: right; }
