.cl {
  clear: both !important;
  height: 0; }

.fr {
  float: right; }

.fl {
  float: left; }

#reflected li {
  background: none;
  list-style-type: none; }
#reflected a {
  cursor: pointer; }

#reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .bullet_operations {
  display: none; }
#reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .sentence {
  cursor: pointer;
  text-decoration: none; }
  #reflected .rf_comment.highlight_state .rf_comment_wrapper .rf_comment_text_wrapper .sentence:hover {
    text-decoration: underline !important; }
#reflected .rf_comment .rf_comment_wrapper {
  position: relative;
  border-collapse: collapse; }
  #reflected .rf_comment .rf_comment_wrapper a:hover {
    background-color: inherit; }
  #reflected .rf_comment .rf_comment_wrapper textarea {
    padding: 3px 5px;
    font-size: 100%; }

#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
  width: 50%; }
  #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .exclude_from_reflect .sentence {
    cursor: pointer; }
  #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence {
    text-decoration: none;
    color: inherit;
    cursor: text; }
    #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence:hover {
      color: inherit; }
    #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence.highlight {
      background-color: #b5d5ff;
      color: black; }
      #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_text .sentence.highlight:hover {
        background-color: #b5d5ff;
        color: black; }
  #reflected .rf_comment_wrapper .rf_comment_text_wrapper .rf_comment_author {
    display: none; }

#reflected .rf_comment_wrapper .rf_comment_summary {
  width: 42%; }
  #reflected .rf_comment_wrapper .rf_comment_summary a.op:hover {
    text-decoration: underline; }
  #reflected .rf_comment_wrapper .rf_comment_summary label {
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: normal; }
  #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header {
    margin-bottom: 10px;
    border-bottom: 1px dotted #777777; }
    #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header span {
      font-variant: small-caps; }
    #reflected .rf_comment_wrapper .rf_comment_summary .reflect_header a.rf_toggle_paginate {
      color: #777777;
      font-size: 80%;
      float: right; }
  #reflected .rf_comment_wrapper .rf_comment_summary .username {
    margin-left: 4px;
    font-size: 90%; }
    #reflected .rf_comment_wrapper .rf_comment_summary .username a {
      color: #777777; }
  #reflected .rf_comment_wrapper .rf_comment_summary ol, #reflected .rf_comment_wrapper .rf_comment_summary ul, #reflected .rf_comment_wrapper .rf_comment_summary ol li, #reflected .rf_comment_wrapper .rf_comment_summary ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none; }
  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list {
    margin-left: 10px; }
    #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet {
      padding: 0px 0px 5px 0px;
      display: list-item;
      position: relative;
      margin-bottom: 6px;
      line-height: 1.2em;
      font-size: 85%; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.self {
        min-height: 35px; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main {
        position: relative;
        float: left; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_point {
          /* margin: 0 5px 0 5px
           * position: absolute
           * left: -22px */
          float: left; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_point img {
            width: 34px; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_text {
          word-wrap: break-word;
          width: 80%;
          float: left;
          padding-left: 8px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_text .rf_score {
            color: #777777; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_author.rf_listener_pic {
          max-width: 30px;
          overflow: hidden;
          float: right;
          margin: 0 4px;
          height: 30px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_author.rf_listener_pic img {
            height: 30px; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_footer_wrapper {
          padding-left: 8px;
          float: right; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations {
          margin-left: 8px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations .bullet_operation {
            color: #777777;
            cursor: pointer;
            padding-right: 2px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li {
            display: inline; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet {
              cursor: pointer; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_prompt_problem img.selector_arrow {
                padding-top: 6px; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem {
                display: none;
                z-index: 99;
                background-color: white;
                position: absolute;
                width: 280px;
                left: 0px;
                top: -155px;
                border: 1px solid #bbbbbb;
                padding: 5px;
                font-size: 110%; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem div.submit_rating {
                  font-size: 80%;
                  padding-top: 5px; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem div.submit_rating a {
                    padding: 5px 5px 3px 0; }
                    #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem div.submit_rating a:hover {
                      text-decoration: underline; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .rate_header {
                  font-size: 90%; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag {
                  border: 0px solid #bbbbbb;
                  display: block;
                  width: 100%;
                  background-color: white; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag:hover {
                    background-color: #eeeeee; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label {
                    display: inline;
                    font-size: 85%;
                    color: #777777;
                    font-weight: normal;
                    cursor: pointer; }
                    #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label .rating_class {
                      padding-right: 8px;
                      font-weight: bold;
                      float: right; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label .rating_class.zen {
                        color: #026c07; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label .rating_class.gold {
                        color: #b39421; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label .rating_class.student {
                        color: #3c57b3; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label .rating_class.troll {
                        color: #b33327; }
                      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_report_problem .flag label .rating_class.graffiti {
                        color: #9b5eb3; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify {
        height: auto; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main {
        background: none; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet {
          display: block; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link {
            text-decoration: underline;
            font-size: 115%;
            font-family: helvetica, arial;
            padding: 4px 0 8px 0px;
            margin-left: 42px;
            width: 100%; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet:hover, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet:hover, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet:hover {
            cursor: pointer; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt {
          position: absolute;
          top: -9px;
          z-index: 50;
          width: 92%;
          margin-left: 3px;
          font-size: 75%; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li {
            display: inline; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.elicitation, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.elicitation, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.elicitation {
              font-weight: bold; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.count, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.count, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.count {
              float: right;
              color: #555555;
              text-decoration: none; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper .bullet_operations, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper .bullet_operations, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper .bullet_operations {
          display: none; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog {
          width: 100%; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper {
            width: 90%; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr td.new_bullet_text_wrap textarea.new_bullet_text, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr td.new_bullet_text_wrap textarea.new_bullet_text, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr td.new_bullet_text_wrap textarea.new_bullet_text {
              height: 60px;
              padding: 4px 2px;
              width: 100%;
              overflow: auto; }
            #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer {
              width: 100%;
              padding-bottom: 5px; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a {
                color: inherit; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a:hover, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a:hover, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a:hover {
                  background-color: inherit;
                  color: inherit; }
              #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li {
                display: inline-block; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.submit, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.submit, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.submit {
                  margin-right: 10px; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.submit a.cancel_bullet, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.submit a.cancel_bullet, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.submit a.cancel_bullet {
                    color: #aaaaaa; }
                #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral {
                  float: right; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral a:hover, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral a:hover, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral a:hover {
                    cursor: help; }
                  #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral .big_word, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral .big_word, #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer li.be_neutral .big_word {
                    text-decoration: underline; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog {
        position: relative;
        clear: both; }
        #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper {
          background-color: #ffffaa;
          width: 98%;
          padding: 0;
          margin-left: 5px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper td.connect_directions {
            font-size: 110%;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            color: #555555; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper .arrow {
            position: absolute;
            top: 8px;
            left: -10px; }
          #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper .submit {
            padding: 0 0 5px 5px; }
      #reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect:hover {
        background-color: inherit; }

#reflected .responses {
  margin: 1px 0 4px 30px;
  padding: 0px 0 0px 20px;
  float: right; }
  #reflected .responses .response_yes,
  #reflected .responses .response_no,
  #reflected .responses .response_maybe,
  #reflected .responses .response_not {
    font-size: 80%; }
  #reflected .responses > ul li.response ul.rebutt_list > li {
    float: left;
    display: block; }
  #reflected .responses > ul li.response .response_operations > li {
    display: inline; }
    #reflected .responses > ul li.response .response_operations > li .modify {
      color: #777777;
      cursor: pointer;
      padding-right: 3px; }
  #reflected .responses > ul li.response.new ul.response_def, #reflected .responses > ul li.response.modify ul.response_def {
    background-color: #ffe5e5;
    padding: 5px; }
    #reflected .responses > ul li.response.new ul.response_def label.prompt, #reflected .responses > ul li.response.modify ul.response_def label.prompt {
      padding: 5px;
      font-weight: bold; }
    #reflected .responses > ul li.response.new ul.response_def li.response_prompt ul.response_eval, #reflected .responses > ul li.response.modify ul.response_def li.response_prompt ul.response_eval {
      padding: 5px 0 8px 12px; }
      #reflected .responses > ul li.response.new ul.response_def li.response_prompt ul.response_eval li, #reflected .responses > ul li.response.modify ul.response_def li.response_prompt ul.response_eval li {
        display: inline;
        padding-right: 6px; }
    #reflected .responses > ul li.response.new ul.response_def li.response_dialog, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog {
      display: none; }
      #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper {
        position: relative;
        padding-left: 12px; }
        #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper td.new_bullet_text_wrap textarea.new_response_text, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper td.new_bullet_text_wrap textarea.new_response_text {
          height: 60px;
          padding: 4px 2px;
          width: 100%;
          overflow: auto; }
        #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer {
          width: 100%;
          padding-bottom: 5px; }
          #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer a, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer a {
            color: inherit; }
            #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer a:hover, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer a:hover {
              background-color: inherit;
              color: inherit; }
          #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer li, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer li {
            display: inline-block; }
            #reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer li.submit, #reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper tr.submit_footer li.submit {
              padding-right: 15px; }
