#reflected .responses > ul li.response.new ul.response_def, #reflected .responses > ul li.response.modify ul.response_def {
  width: 275px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations > li.rate_bullet .bullet_prompt_problem img.selector_arrow {
  display: none;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.has_response .bullet_main{
  width: 235px;
}

#reflected .responses {
  width: 95px; 
}

#reflected .responses .response {

}

#reflected .responses .response.accurate_yes {
  background-color: #D0E7D2;
}

#reflected .responses .response.accurate_somewhat {
  background-color: #FCF6EA;
}

#reflected .responses .response.accurate_no {
  background-color: #FCDEE0;
}

#reflected .responses .response.accurate_not {
  background-color: #FFD695;
}



#reflected table.rf_comment_wrapper td.rf_comment_summary a {
           text-decoration: none;
}


#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper ul.bullet_operations {
  display: inline;
}

#reflected .rf_comment_wrapper .rf_comment_summary .responses ul.response_operations {

}


#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.full_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point {
  padding-top: 13px;
  width: 0px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet_point span.point {
 display: none; 
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_point {
  padding-top: 4px;
}

#reflected .rf_comment_wrapper .rf_comment_summary .username {
  margin-left: 0;
}
#reflected .rf-comment {
  clear: both;
}

#reflected .rf_comment_wrapper .rf_comment_summary {
  width: 350px;
}

#reflected .responses{
  margin: 0px 0 4px 10px;
  padding: 0px 0 0px 0px;
}

#reflected .responses > ul li.response ul.rebutt_list > li.enjoinder {
  opacity: .25;
  display: none;
}

#reflected .responses > ul li.response ul.rebutt_list > li.rebutt_txt {
  padding-left: 6px;
  width: 90%;
}

#reflected .responses > ul li.response ul.rebutt_list > li.rebutt_txt a {
  font-size: 10px; 
  text-decoration: underline; 
  color: inherit;
}

#reflected .responses > ul li.response ul.rebutt_list > li.rebutt_txt a.username {
  display: none;
}

#reflected .responses > ul li.response.new ul.response_def li.response_dialog table.new_bullet_wrapper, 
#reflected .responses > ul li.response.modify ul.response_def li.response_dialog table.new_bullet_wrapper {
  width: 90%;  
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer {
  font-size: 12px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet div.bullet_main ul.bullet_main_wrapper li.bullet_dialog, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect div.bullet_main ul.bullet_main_wrapper li.bullet_dialog, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify div.bullet_main ul.bullet_main_wrapper li.bullet_dialog {
  padding-top: 0px;
  margin-top: 0px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.count, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.count, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.count {
 color: #aaa; 
 padding: 0 20px 0 10px;
}

#reflected .jqueryexample {
  color: #666;
}

#reflected .rf_toggle {
  position: relative;
  top: -25px;
  font-size: 11px;
  color: #777;
  float: right;
}

#reflected .rf_toggle:hover {
  cursor: pointer;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet {
	margin-bottom: 6px !important;
	padding-bottom: 6px;
	font-size: 100%;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.count, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.count, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt li.count {
	padding-right: 20px;
}

#reflected .rf_comment_wrapper .rf_comment_text_wrapper {
	padding-right: 25px;
	width: inherit;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_point img {
	width: inherit;
	display: none;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_point.prompt img {
	padding-top: 7px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt,
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.new_bullet_prompt {
	padding-left: 40px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link:hover, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link:hover, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link:hover {
  text-decoration: underline;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .point, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .point, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .point {
 color: black;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_point a.add_bullet .link {
	font-size: inherit;
	display: inline;
	font-family: inherit;
  margin-left: 9px;
  padding-top: 0px;
}
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog {
	padding-top: 4px;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper {
	margin-left: 7px;
} 

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a {
	color: #AAAAAA;
	text-decoration: none;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper {
	width: 87%;	
	padding-top: 0px;
}

.cl {height: 0;list-style: none;}

#reflected tbody tr:first-child td, #reflected tbody tr:first-child th,
#reflected tbody tr td, #reflected tbody tr th {
	border-top: 0px solid transparent;	
}

#reflected .rf_comment_wrapper .rf_comment_summary ol, #reflected .rf_comment_wrapper .rf_comment_summary ul, #reflected .rf_comment_wrapper .rf_comment_summary ol li, #reflected .rf_comment_wrapper .rf_comment_summary ul li {
	margin: 0 !important;	
}

#reflected .bullet_author.rf_listener_pic {
	display: none;
}

#reflected .rf_comment_summary li {
	clear: none;
}

#reflected td.new_bullet_text_wrap {
	padding:0;
}

#reflected .rf-comment tr td {
	padding: 0 0 0 0;
}

#reflected table.new_bullet_wrapper {
	margin:0;
}
#reflected .rf_comment_wrapper .rf_comment_summary .reflect_header {
}
#reflected .rf_comment_summary td {
	margin:0;
	padding:0;
}

#reflected .rf_comment * {
	vertical-align: top;
}
#reflected .rf_comment table {
	margin: 0 0 0 0;
	border: none;
	border-top: none;
	border-top-width: 0px;

}
#reflected .rf_comment_summary table {
	margin:0;
	padding:0;
}

#commentlisting div.full div.commentBody .rf_comment_summary ul .full_bullet .bullet_main {
    border-left: 2px solid #f4f4f4;
}

#commentlisting div.full div.commentBody .rf_comment_summary ul .full_bullet:hover .bullet_main {
    border-left: 2px solid #ccc;
}

#commentlisting div.full div.commentBody .rf_comment_summary ul li.new_bullet:hover,
#commentlisting div.full div.commentBody .rf_comment_summary ul li.bullet {
	background:inherit;
	list-style:none;
}



#reflected .commentBody span.highlight, 
#reflected .commentBody a.highlight {
	
	background-color:#FFFF88;
}


#reflected div.commentBody {
	overflow:visible;
}


#reflected .rf_comment_summary ul.bullet_list .bullet ul.bullet_footer li {
	list-style:none outside none;
	margin:0;
	padding:0;
}

#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet .bullet_main ul.bullet_main_wrapper li.bullet_text {
  width: 95%;
}

#commentlisting div.full div.commentBody ul li.bullet {
	padding-left: 7px;
}


#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.new_bullet .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a.bullet_submit, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.connect .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a.bullet_submit, 
#reflected .rf_comment_wrapper .rf_comment_summary ul.bullet_list li.bullet.modify .bullet_main ul.bullet_main_wrapper li.bullet_dialog table.new_bullet_wrapper tr.submit_footer a.bullet_submit {
  padding-right: 15px;
  
}